h1 {
    font-size: 30pt;
}

h2 {
    font-size: 24pt;
}

h3 {
    font-size: 18pt;
}

p {
    font-size: 14pt;
}

a:hover {
    text-decoration: underline;
}

/* Education styling */
.degree-location {
    margin-top: 2px;
    font-size: 15pt;
}
.degree-title {
    font-weight: bold;
}
.degree-major {
    line-height: 1px;
}

.project-name {
    font-weight: bold;
    font-size: 18pt;
}
.project-location {
    margin-top: -20px;
    font-size: 18pt;
}

.label {
    font-size: 12pt;
}

.no-pad {
    padding: 0;
    margin: 0;
}

.bold {
    font-weight: bold;
}


/* Side nav large screens */
body {
  padding-left: 300px;
}
.side-nav-pad {
    padding-right: 200px;
}
@media only screen and (max-width : 992px) {
  body, footer {
    padding-left: 0;
  }
}

/* Padding for side-nav sub category list items */
.side-nav-sub-cat-pad {
    padding-left: 20px;
}